/* common */
#main {
    margin-top: 130px;
}
h2.tit {
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
}
h2.tit span {
    font-size: 1.6em;
    color: #2cc6af;
    letter-spacing: 0.1em;
}



/* home */
.home .visual {
    display: table;
    position: relative;
    left: -100%;
    width: 100%;
    height: 560px;
    background: url('/img/bg_visual.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0;
    transition: all 1s;
    transition-delay: .5s;
}
.home .visual p {
    position: relative;
    bottom: -100px;
    display: table-cell;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.5em;
    vertical-align: middle;
    opacity: 0;
    transition: all 1s;
    transition-delay: 1s;    
}
.home .visual p span {
    display: inline-block;
    padding: 0.5em 0.3em 0.5em 0.8em;
    border: 2px solid rgba(255,255,255,.5);
}
.home .goal {
    position: relative;
    top: -100px;
    margin: 100px 0;
    text-align: center;
    opacity: 0;
}
.home .goal p{
    padding: 2.5em 0;
    line-height: 1.5;
    color: rgba(0,0,0,.6);
    background: url('/img/icon_quot_left.svg') no-repeat 50% top, url('/img/icon_quot_right.svg') no-repeat 50% bottom;
    background-size: 1em;
}
.home .goal.on {
    top: 0;
    opacity: 1;
    transition: all 1s;
    transition-delay: 2s;
}




/* about */
.about  {
    overflow: hidden;
}
.about>div {
    position: relative;
    width: 1300px;
}
.about .greeting {
    position: relative;
    top: 0;
    left: -100px;
    transition: all .4s;
    opacity: 0;
}
.about .greeting.active {
    left: 0;
    opacity: 1;
}
.about .greeting h3 {
    margin-top: 0.5em;
    font-size: 2em;
    line-height: 1.4;
    letter-spacing: -0.05em;
}
.about .greeting h3 b {
    font-weight: 600;
}
.about .history {
    margin-top: 4em;
}
.about .history li {
    position: relative;
    margin-top: 5px;
    padding-left: 25px;
    padding-bottom: 2em;    
    font-size: 1.1em;
    overflow: hidden;
}
.about .history li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 14px;
    color: #70e6d4;
    border: 4px solid #70e6d4;
    border-radius: 50%;
    box-sizing: border-box;
}
.about .history li::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 24px;
    width: 1px;
    height: 100%;
    background: #a0efe3;
}
.about .history li:last-child {
    padding-bottom: 0;
}
.about .history li:last-child::after {
    display: none;
}
.about .history .year {
    float: left;
    min-width: 4em;
    margin-right: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #2cc6af;
}
.about .history .con {
    float: left;
    letter-spacing: -0.05em;
}
.about .history .large {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 700;
}
.about .history small {
    font-size: 0.9em;
    color: rgba(0,0,0,.5);
}
.about .img_area {
    position: absolute;
    right: -200px;
    width: 50%;
    padding-bottom: 100px;
    transform: translateY(-100%);
    background: url('/img/bg_about.jpg') no-repeat 150px bottom;
    opacity: 0;
    transition: all .4s;
}
.about .img_area.active {
    right:0;
    opacity: 1;
}
.about .skills {
    margin: 150px auto 200px;
}
.about .sub_tit {
    position: relative;
    height: auto;
    text-align: center;
}
.about .sub_tit h3 {
    position: relative;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 0.5em;
    line-height: 200px;
    z-index: 1;
}
.about .sub_tit .bg_tit {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-size: 6em;
    font-weight: 700;
    line-height: 200px;
    color: #eee;
}
.about .skill_list>ul {
    display: flex;
    justify-content: space-between;
}
.about .skill_list>ul>li {
    position: relative;
    width: 29%;
    padding: 1em 0;
}
.about .skill_list>ul>li::after {
    content: '';
    position: absolute;
    top: 0;
    left: -11%;
    width: 1px;
    height: 100%;
    background: rgba(0,0,0,.1);
}
.about .skill_list>ul>li:first-child::after {
    display: none;
}
.about .skill_list h4 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 700;
}
.about .skill_list p {
    min-height: 8em;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}
.about .detail li {
    position: relative;
    padding-left: 13px;
    margin-top: 0.25em;
    font-family: 'Noto Sans Kr';
    font-size: 1.05em;
    font-weight: 500;
}
.about .detail li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    background: #2cc6af;
    border-radius: 50%;
}


/* project */
.project .jjzoo { background-image: url('/img/img_jjzoo.png'); }
.project .chunhyang { background-image: url('/img/img_chunhayng.png'); }
.project .jjfood { background-image: url('/img/img_jjfood.png'); }
.project .wkuni { background-image: url('/img/img_wkuni.png'); }
.project .jbham { background-image: url('/img/img_jbham.png'); }
.project .jvar { background-image: url('/img/img_jvar.png'); }
.project .daljak { background-image: url('/img/img_daljak.png'); }
.project .days { background-image: url('/img/img_30days.png'); }
.project .gogam { background-image: url('/img/img_gogam.png'); }
.project .scu { background-image: url('/img/img_SCU.png'); }
.project .odi { background-image: url('/img/img_odi.png'); }
.project .wootdam { background-image: url('/img/img_wootdam.png'); }

.project .inner {
    position: relative;
    margin-bottom: 1em;
}
.project .sub_tit {
    position: absolute;
    right: 0;
    top: 2em;
    text-align: right;
}
.project .sub_tit .strong{
    font-size: 1.5em;
    font-weight: 700;
}
.project .sub_tit strong{
    font-size: 1.5em;
    font-weight: 700;
}

.project ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.project_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 400px;
    background-size: cover;  
    cursor: pointer; 
    overflow: hidden;   
}

.project_item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.85);    
}
.project_item .img_area {
    position: relative;
    text-align: center;
    z-index: 1;
}
.project_item.active .img_area img {
    display: none;
}
.project_item .text_area {
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 1.35;        
    background: rgba(0,0,0,.8);
    z-index: 1;
}
.project_item.active .text_area {
    right: 0;
}
.project_item .text_area a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5em 3em 3em;   
    box-sizing: border-box;     
}
.project_item .text_area h3 {
    margin-bottom: 15px;
    font-size: 2em;
}
.project_item .text_area h3 i {
    margin-left: 5px;
    font-size: 0.9em;
}
.project_item .text_area dl {
    position: relative;
    overflow: hidden;
}
.project_item .text_area dl::after {
    content: '';
    position: absolute;
    left: 70px;
    top: 5px;
    width: 1px;
    height: 13px;
    background: rgba(255,161,50,.5);
}
.project_item .text_area dt {
    min-width: 100px;
    float: left;
    color: #ffa132;
}
.project_item .text_area dd {
    float: left;
    width: calc(100% - 100px);
    margin-bottom: 10px;
}
.project .etc { 
    margin-top: 100px;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.6;
}
.project .etc a {
    color: #2cc6af;
    text-decoration: underline;
}
.project .etc small {
    color: #888;
    font-size: 0.8em;
}


/* contact */
.contact::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 50%;
    width: 1px;
    height: 200px;
    background: #2cc6af;
}
.contact {
    position: relative;
    margin-top: 200px;
    padding: 200px 0 300px;
    text-align: center;
    background: url('/img/bg_contact.jpg') no-repeat center bottom;
    background-size: cover;
}
.contact .sub_tit h2 {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 0.5em;
    z-index: 1;
}
.contact .sub_tit .bg_tit {
    margin: 1em 0 0.5em;
    font-size: 4em;
    font-weight: 700;
    color: #eee;
    line-height: 1.2;
}
.contact .resume li{
    display: inline-block;
    margin: 0 10px;
    padding: 0.7em 2em;
    color: #2cc6af;
    font-weight: 700;
    font-size: 1.1em;
    border: 3px solid #2cc6af;
    border-radius: 15px;
}
.contact .info {
    display: inline-block;
    margin-top: 50px;    
    width: 200px;
    text-align: left;
}
.contact .info li{
    margin-bottom: 5px;
    font-weight: 500;
}
.contact .info li i{
    margin-right: 5px;
    font-size: 1.1em;
    vertical-align: middle;
}


/* ------------------- media query ------------------- */

/* Tablet & Desktop Device */
@media all and (min-width:2560px) {
    .inner  { max-width: 1920px;}
}

@media all and (max-width:1366px) {
    .project_item               { width: 32%; height: 400px;}
    .project_item .text_area h3 { font-size: 1.8em}
    .project .etc p             { width: 92%; margin-left: auto; margin-right: auto;}

    .about>div                  { width:90%; overflow: hidden;}

    .project .inner             { width: 100%;}
    .project_item .text_area a          { padding: 3em 2em;}        
}
@media all and (min-width:768px) and (max-width:1024px) {
    .home .visual                       { height:400px; background-attachment: initial;}
    .home .visual p                     { font-size: 1.2em;}    

    .about .img_area                    { width: 40%;}
    .about .sub_tit .bg_tit             { font-size: 4em;}

    .project_item                       { width: 48%; box-shadow: 3px 3px 8px rgba(0,0,0,.1);}    
    .project_item.active .img_area img  { max-width: 90%; }

    .about .sub_tit .bg_tit             { font-size: 4em;}    

}

/* Mobile */
@media all and (max-width:767px){
    #main                   { margin-top: 100px;}
    h2.tit                  { font-size: 2em;}

    .home .visual           { height: 400px; }
    .home .visual p         { font-size: 1em; letter-spacing: 0.3em; line-height: 2;} 
    .home .visual p span    { padding: 0.05em 0.1em 0.05em 0.5em;}
    .home .goal             { margin:50px 0;}
    .home .goal p           { font-size: 0.75em; line-height: 1.5;}

    .about .greeting h3         { font-size: 1.5em;}
    .about .history             { margin-top: 3em; font-size: 0.85em;}
    .about .history .con        { width: calc(100% - 6em);}
    .about .history li          { padding-bottom: 1em; padding-left: 15px;}
    .about .history li::before  { width: 10px; height: 10px; border-width: 3px;}
    .about .history li::after   { left: 4px;}
    .about .img_area            { position: relative; width: 90%; margin:50px auto 0; padding-bottom: 50px; transform: none; background-size: 100%; background-position-x: 50px;}
    .about .img_area img        { width: 90%;}
    .about .sub_tit .bg_tit     { font-size: 2em; line-height: 100px;}
    .about .sub_tit h3          { font-size: 1.3em; line-height: 100px;}
    .about .skills              { margin: 100px auto;}
    .about .skill_list>ul       { display: block;}
    .about .skill_list>ul>li    { width: 100%; padding:2em 0; font-size: 0.9em; border-bottom: 1px solid #eee;}
    .about .skill_list>ul>li:last-child { border:none;}    
    .about .skill_list p        { min-height: auto; margin-bottom: 1em; text-align: justify;}

    .project .sub_tit           { position: relative; top: 0; text-align: left;}
    .project .sub_tit .strong   { font-size: 1.3em;}
    .project .sub_tit strong    { font-size: 1em;}
    .project_item .img_area img  { max-width: 70%;}   
    .project_item           { width: 48%; height: 40vw; margin:15px 0;}   
    .project_item.active .text_area a { padding: 4em 2em 2em}
    .project_item .text_area h3 { font-size:1.5em;}
    .project_item .text_area dl { display: none;}    
    .project .etc               { margin-top: 50px;}    
    .project .etc h3            { font-size: 1.5em; word-break: keep-all;}
    .project .etc p             { font-size: 0.7em; word-break: keep-all;}
    .project .etc p br          { display: none;}    
    .project .etc strong        { display:inline-block; margin-top:1em; font-size: 1.2em;}          
    .project_item .text_area a          { padding: 1em; font-size: 0.9em;}  

    .contact                    { margin-top: 100px; padding: 100px 0 200px;}
    .contact::before            { top: -50px; height: 100px;}
    .contact .sub_tit h2        { font-size: 1.3em;}
    .contact .sub_tit .bg_tit   { font-size: 2em;}
    .contact .resume li         { margin:0.3em 0; font-size: 0.9em;}
}