/********** layout **********/
/* Header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;    
    z-index: 1000;
}
#header p{
    position: relative;
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: .8em;
    transition: all .2s;
}
#header p.active{
    color: #333;
}
/* #header p::after{
    content: '';
    display: block;
    margin: 10px auto;
    width: 70%;
    height: 1px;
    background: #fff;
    opacity: 0.4;
}
#header p.active::after{
    background: #333;
} */





/********** Main **********/
/* intro */
@keyframes opacity{
    0%, 100%{
        opacity: 0;
    }
    20%, 80%{
        opacity: 1;
    }  
}
@keyframes change{
    15%{
        transform: translate3d(0, 0, 0);
    }
    30%, 50%{
        transform: translate3d(0, -33%, 0);
    }
    60%, 80%{
        transform: translate3d(0, -66%, 0);
    }
}
.bg_section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#009fdc,#8993ff);
    z-index: 1;
}
.bg_section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(/plani/img/bg_intro02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.2;
}
.intro{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: none;
}

.intro .text_container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    text-align: center;
    color: rgba(255, 255, 255, 1);    
    overflow: hidden;
    z-index: -1;    
}

.intro .text_list{
    font-weight: 600;
    font-size: 3.8em;
    letter-spacing: 0.05em;    
    color: rgba(255, 255, 255, 1);  
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.intro .text_list .item{     
    animation-name: opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


/* greeting */
.greeting{ 
    padding: 200px 0;
    background: #fff;    
}
.greeting .inner{ 
    display: flex;
    justify-content: space-between;
}
.greeting .txt_area h2{ 
    position: relative;
    margin-bottom: 5%;
    font-family: 'Noto Sans KR';
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #6a6a75;
}
.greeting .txt_area h2 img{ 
    vertical-align: middle;
}
.greeting .txt_area h2::after{
    content: '';
    display: block;
    margin: 1em 0;
    width: 4.5em;
    height: 2px;
    background: #009fdc;
    opacity: 0.5;
}
.greeting .txt_area p{ 
    margin-top: 4%;
    font-size: 1.4em;
    letter-spacing: -0.05em;
}
.greeting .txt_area .txt_bg{ 
    position: relative;    
    display: inline-block;
}
.greeting .txt_area .txt_bg::before{ 
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: #ffdc38;
    z-index: -1;    
    transition: all .5s;
}
.greeting .txt_area .txt_bg.active::before{ 
    width: 100%;
}
.greeting .img_area{
    position: relative;
    line-height: 0;
}
.greeting .img_area::before{
    content: '';
    position: absolute;
    left: -5%;
    top: 5%;
    width: 100%;
    height: 100%;
    border: 3px solid #009fdc;
    box-sizing: border-box;
    z-index: -1;
}
.greeting .img_area .speech{
    display: none;
}
.greeting .img_area:hover .speech{
    display: block;
    position: absolute;
    top: 5%;
    right: -5%;
}


/* promise */
@keyframes icon_move{
    0%, 100%{
        top:-80px;
    }
    50%{
        top:-100px;
    }  
}
.promise{
    position: relative;
    width: 100%;
    padding: 350px 0 120px;
    overflow: hidden;
    background: #fff;
}
.promise .inner{
    width: 1300px;
}
.promise h2{
    position: absolute;
    top: 15%;
    right: -2em;
    font-size: 4em;
}
.promise h2 .color{
    position: relative;
    display: inline-block;
    color: #009fdc;

}
.promise h2 .color::after{
    content: '';
    position: absolute;
    width: 121px;
    height: 132px;
    top: 0;
    right: -20px;
    background: url(/plani/img/icon_promise.png) no-repeat;
    animation-name: icon_move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: -1;
}
.promise .appeal{
    display: flex;
    flex-wrap: wrap;
}
.promise .appeal>li{
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    transition: all .2s;
}
.promise .appeal h3{
    display: inline-block;
    position: relative;
    font-size: 1.7em;
    letter-spacing: -0.03em;
}
.promise .appeal>li:hover{
    background: #f9f9f9;
}
.promise .appeal p{
    margin: 35px 0 30px;
    color: #555;
    font-size: 0.9em;
    line-height: 1.8;
    letter-spacing: -0.03em;
}
.promise .appeal .tag li{
    display: inline-block;
    margin-right: 5px;
    padding: 0.3em 1em;
    border-radius: 20px;
    letter-spacing: -0.03em;
    color: #009fdc;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 1em;
    border: 2px solid #dedede;
    background: #fff;
}


/* portfolio */
.portfolio{
    background:#fff;
}
.portfolio .inner{
    position: static;
    width: 1600px;
    margin-right: 0;
    padding-top: 50px;
}
.portfolio .inner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 10%;
    padding-top: 200px;
    background: #f4f4f4;
    height: 100%;
    z-index: -1;
}
.portfolio h2{
    position: absolute;
    width: 1200px;
    left: 50%;
    top: -1.1em;
    margin-left: -500px;
    font-size: 4em;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.2em;
}
.portfolio h2 p:first-child{
    margin-left: -105px;
}
.portfolio h2 .p_color{
    margin-top: 1em;
}
.portfolio h2 .border{
    position: relative;
    font-size: 1.2em;
    color: #fff;
    text-shadow: -4px 0 #333, 0 4px #333, 2px 0 #333, 0 -2px #333;
}
.portfolio h2 .border::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 44px;
    height: 27px;
    background: url(/plani/img/icon_quotes_left.png);
}
.portfolio h2 .border::after{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 45px;
    height: 27px;
    background: url(/plani/img/icon_quotes_right.png);
}
.portfolio .link_list{
    position: relative;
    padding-left: 400px;
    width: calc(100% - 400px);
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.portfolio .link_list li{
    width: 30%;
    margin: 2%;
    margin-right: 0;
}
.portfolio .link_list li .img_area{
    overflow: hidden;
    max-height: 400px;
}
.portfolio .link_list li img{
    width: 100%;
}






/* ------------------- media query ------------------- */

@media all and (max-width:1440px) {
    .portfolio .link_list{
        padding-left: 25%;
        width: 1300px;
    }
    
}