/********** layout **********/
/* Header */
#header{
    position: fixed;
    width: 100%;
    padding-top: 20px;
    text-align: center;    
    z-index: 10;
}
#header p{
    position: relative;
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: .8em;
    transition: all .2s;
}
#header p.active{
    color: #333;
}
/* #header p::after{
    content: '';
    display: block;
    margin: 10px auto;
    width: 70%;
    height: 1px;
    background: #fff;
    opacity: 0.4;
}
#header p.active::after{
    background: #333;
} */





/********** Main **********/
/* intro */
@keyframes opacity{
    0%, 100%{
        opacity: 0;
    }
    20%, 80%{
        opacity: 1;
    }  
}
@keyframes change{
    15%{
        transform: translate3d(0, 0, 0);
    }
    30%, 50%{
        transform: translate3d(0, -33%, 0);
    }
    60%, 80%{
        transform: translate3d(0, -66%, 0);
    }
}
.intro{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#009fdc,#8993ff);
}
.intro::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(/plani/img/bg_intro02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.2;
}

.intro .text_container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    text-align: center;
    color: rgba(255, 255, 255, 1);    
    overflow: hidden;
    z-index: 1;    
}

.intro .text_list{
    font-weight: 600;
    font-size: 3.5em;
    letter-spacing: 0.01em;    
    color: rgba(255, 255, 255, 1);  
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.intro .text_list .item{     
    animation-name: opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.intro .text_list .item.point{
    font-size: 1.12em;
}


/* greeting */
.greeting{ 
    padding: 10% 0;
}
.greeting .inner{ 
    display: flex;
    justify-content: space-between;
}
.greeting .txt_area h2{ 
    position: relative;
    margin-bottom: 5%;
    font-family: 'Noto Sans KR';
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #6a6a75;
}
.greeting .txt_area h2 img{ 
    vertical-align: middle;
}
.greeting .txt_area h2::after{
    content: '';
    display: block;
    margin: 1em 0;
    width: 4.5em;
    height: 2px;
    background: #009fdc;
    opacity: 0.5;
}
.greeting .txt_area p{ 
    margin-top: 4%;
    font-size: 1.4em;
    letter-spacing: -0.05em;
}
.greeting .txt_area .txt_bg{ 
    position: relative;    
    display: inline-block;
}
.greeting .txt_area .txt_bg::before{ 
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: #ffdc38;
    z-index: -1;    
    transition: all .5s;
}
.greeting .txt_area .txt_bg.active::before{ 
    width: 100%;
}
.greeting .img_area{
    position: relative;
    line-height: 0;
}
.greeting .img_area::before{
    content: '';
    position: absolute;
    left: -5%;
    top: 5%;
    width: 100%;
    height: 100%;
    border: 3px solid #009fdc;
    box-sizing: border-box;
    z-index: -1;
}
.greeting .img_area .speech{
    display: none;
}
.greeting .img_area:hover .speech{
    display: block;
    position: absolute;
    top: 5%;
    right: -5%;
}
/* promise */
@keyframes icon_move{
    0%, 100%{
        top:-80px;
    }
    50%{
        top:-100px;
    }  
}
.promise{
    position: relative;
    width: 100%;
    padding: 10% 0;
    overflow: hidden;
}
.promise .inner{
    width: 1300px;
}
.promise h2{
    position: absolute;
    top: 10%;
    right: -2em;
    font-size: 4em;
}
.promise h2 .color{
    position: relative;
    display: inline-block;
    color: #009fdc;

}
.promise h2 .color::after{
    content: '';
    position: absolute;
    width: 121px;
    height: 132px;
    top: 0;
    right: -20px;
    background: url(/plani/img/icon_promise.png) no-repeat;
    animation-name: icon_move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: -1;
}
.promise .appeal {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}
.promise .appeal>li {
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
    transition: all .2s;
}
.promise .appeal h3 {
    display: inline-block;
    position: relative;
    font-size: 1.65em;
    letter-spacing: -0.03em;
}
.promise .appeal>li:hover {
    background: #f7f7f7;
    box-shadow: 
}
.promise .appeal p {
    margin: 25px 0 20px;
    color: #555;
    font-size: 0.9em;
    line-height: 1.7;
    letter-spacing: -0.03em;
}
.promise .appeal .tag li {
    display: inline-block;
    margin-right: 5px;
    padding: 3px 10px;
    border-radius: 20px;
    letter-spacing: -0.03em;
    color: #009fdc;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 0.9em;
    border: 2px solid #ffdc38;
    background: #fff;
}
