/* fonts */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* common */
body {
    position: relative;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
    color: #181818;
}
.skip,
.blind {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
  }

.after::after { 
    content: '';
    display: block;
    clear: both;
}
.inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
,section {
    position: relative;
}
.p_color {
    color: #009fdc;
}
.p_bg {
    color: #009fdc;
}
.p_font {
    font-family: 'Recipekorea';
}

/* Header */
#header {
    position: fixed;
}
#header p {
    color: #fff;
}

/* Main */
.intro {
    width: 100%;
    height: 100vh;
    background-image:url(/plani/img/bg_intro.jpg);
    background-color: #00a8e0;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.text_container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 90px;
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(255, 255, 255, .9);    
    overflow: hidden;    
}

.text_list {
    margin-top: 0;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.text_list .item{
    margin-top: 0;
    list-style: none;
    animation-name: opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }  
}
@keyframes change {
    15% {
        transform: translate3d(0, 0, 0);
    }
    30%, 50% {
        transform: translate3d(0, -33%, 0);
    }
    60%, 80% {
        transform: translate3d(0, -66%, 0);
    }
}
